body {
  font-family: sans-serif;
  overflow: hidden;
}

.button {
  /* padding: 1rem 2rem; */
  padding: 1.5rem 0rem;
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  border: solid 2px #d3d3d3;
}

.button:hover {
  background-color: #c6c6c6;
}

#zwischenstand {
  font-size: 2rem;
  text-align: right;
  height: 2rem;
  padding-bottom: 0.5rem;
}

#eingabe {
  font-size: 2.5rem;
  text-align: right;
  height: 2.5rem;
  padding-bottom: 0.5rem;
}

.zahlenfeld {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.3rem;
}

.ergebins-container {
  font-size: 2rem;
  text-align: right;
}

.taschenrechner-wrapper {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 1rem;
}

#list {
  border-left: solid 2px #c6c6c6;
  text-align: right;
  font-size: 2rem;
  overflow: auto;
  height: 100vh;
}
.mathfields-wrapper {
}
